:root {
    --primary-font: 'Roboto', sans-serif;
    --primary-blue-color: #4D5AE5;
    --primary-font-size: 16px;
    --primary-line-height: 1.5;
    --primary-white-color: #F4F4FD

 }



.link-logo{
    color:  #4D5AE5;
    width: 44px;
    font-size: 18px;             
    font-size: 16px;
    font-style: normal;
    font-weight: 800;
    letter-spacing: 0.54px;
    text-decoration: none;
}



.header-span{
    color: #2E2F42;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;

}

.text-item{
list-style: none;
}

.text-list{
 color: var(--navyblue, #2E2F42);
 font-size: 16px;
font-style: normal;
font-weight: 500;
text-decoration: none;
line-height: 24px;
}

.text-address{
list-style: none;
}

.address{
 color: var(--slate, #434455);
 font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px;
}

.hero{
    background: var(--navyblue, #2E2F42);
}

.business{
    color: var(--white, #FFF);
 text-align: center;
background-color: #2E2F42;
width: 1440px;
height: 200px;
font-size: 56px;
font-style: normal;
font-weight: 700;
}

.button:hover,
.button:focus{
    background: var(--iris, #4D5AE5);
}

.button{
 display: inline-flex;
align-items: flex-start;
background: var(--iris, #4D5AE5);
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
border-radius: 4px;
gap: 10px;
}

.benefits-list{
    list-style: none;
}

.work{
    list-style: none;
}

.doing{
 color: var(--navyblue, #2E2F42);
text-align: center;
 font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: 40px;
}

.team{
    color: var(--navyblue, #2E2F42);
text-align: center;
font-size: 36px;
font-style: normal;
font-weight: 800;
line-height: 40px;
}

.team-list{
    list-style: none;
}

.text-portfolio{
    color: var(--navyblue, #2E2F42);
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.4px;
}

.footer-span{
    width: 71px;
color: #F4F4FD;
font-size: 18px;
font-style: normal;
font-weight: 400;
}

.footer{
    background-color: var(--navyblue, #2E2F42);;
}

.footer-text{
    color: #F4F4FD;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.54px;

}


