
:root {
    --white: #ffffff;
 --navyblue: #404bfd;
     --blue: #4d5ae5;
     --titel-color: #2e2f42;
     --gray: #434455;

 }

 body{
    font-family: "Roboto", sans-serif;
    color: var(--gray);
    background-color: #FFFFFF;
}


/* Header section */
.header{
    font-family: "Raleway", sans-serif;
    list-style: none;
    text-decoration: none;
    letter-spacing: 0.03em
}

.list{
    list-style: none;
}


.link-logo{
    color:  var(--blue);
    width: 44px;
    font-size: 18px;             
    font-style: normal;
    line-height: 1.17;
    font-weight: 800;
    letter-spacing: 0.03em;
    text-decoration: none;
    text-transform: uppercase
}


.header-span{
    color: var(--titel-color);
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;

}


.text-item{
list-style: none;
text-decoration: none;
}

.text-list{
color: var(--titel-color);
 font-size: 16px;
font-weight: 500;
text-decoration: none;
line-height: 1.5;
letter-spacing: 0.02em 
}

.text-list:hover,
.text-list:focus{
    color: var(--navyblue);
}

.text-address{
list-style: none;
}

.address-item{
    font-style: normal
}

.address{
color: var(--titel-color);
 font-family: Roboto;
 font-size: 16px;
 font-style: normal;
 font-weight: 400;
 line-height: 24px; 
 letter-spacing: 0.32px;

}


.address:hover,
.adress:focus{
    color: var(--navyblue);
}

.hero{
    background: var(--navyblue, #2E2F42);
}

.business{
    color: var(--white);
 text-align: center;
color: var(--titel-color);
width: 1440px;
height: 200px;
font-size: 56px;
font-style: normal;
font-weight: 700;
}

.button:hover,
.button:focus{
    background: var(--navyblue);
}

.button{
 display: inline-flex;
align-items: flex-start;
background: var(--navyblue);
box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
border-radius: 4px;
gap: 10px;
}

.benefits-list{
    list-style: none;
}

.work{
    list-style: none;
}

.doing{
color: var(--titel-color);
text-align: center;
 font-size: 36px;
font-style: normal;
font-weight: 700;
line-height: 40px;
}

.team{
color: var(--titel-color);
text-align: center;
font-size: 36px;
font-style: normal;
font-weight: 800;
line-height: 40px;
}

.team-list{
    list-style: none;
}

.text-portfolio{
color: var(--titel-color);
    text-align: center;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0.4px;
}


.footer-span{
    text-transform: uppercase;
    line-height: 1.17;
    width: 71px;
    letter-spacing: 0.03em;
color: var(--white);
font-size: 18px;
font-style: normal;
font-weight: 400;
}

.footer{
    background-color: var(--titel-color);
    font-family: "Raleway", sans-serif;
    letter-spacing: 0.03em

}

.footer-text{
    text-transform: uppercase;
    line-height: 1.5;
    color: var(--white);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.02em

}


